# IDEs
.idea/

# Hugo
/resources/
public/
assets/jsconfig.json
content/authors/.DS_Store
.DS_Store
config/.DS_Store
content/.DS_Store
content/gallery/.DS_Store
static/.DS_Store
static/media/.DS_Store
